.BACKUP-GIT/
.BROKEN-GIT/
build/
*.class
classes/
/cobertura.ser
/*DB.*
*Db.properties
*Db.script
.DS_Store
dist/
.git/
.gitKeep
.gradle/
gradle/
gradlew
gradlew.bat
.hgtags
.idea/
*.iml
.insync-trash/
*.ipr
*.iws
/.link_to_grails_plugins/
/*.log
node_modules/
npm-debug.log
out/
/plugin.xml
.settings
.sdkman/
sdkman/
stacktrace.log
.*.swp
.touchFile
target/
target-eclipse/
tmp/
web-app/plugins/
web-app/WEB-INF/classes
/*.zip
